/* Remise à zéro */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 100%);
    font-family: "Roboto Condensed", sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

main{
    margin-top: 2%;
}

/* Nav-Bar */

header{
    margin-top: 2%;
}

.gabrielcns{
    font-family: "Anton", sans-serif;
    font-size: 1.1rem;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}

header nav li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

header nav a{
    /* border: 1px solid white; */
    padding: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    transition: border-bottom 0.3s ease-in-out;
    border-bottom: 3px solid transparent; /* Bordure transparente au départ */
}

header nav p{
    padding: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}

header nav li a:hover{
    transition: border-bottom 0.5s ease-in-out;
    border-bottom: 3px solid #ffffff;
}

.logo{
    display: flex;
    margin-left: 3%;
}

.logo a{
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.logo p{
    font-weight: 300;
    text-transform:lowercase
}

/* burger menu */

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-links li {
    margin: 10px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 10;
}

.burger-menu span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 9;
        overflow-x: hidden;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links.active {
        transform: translateX(0%);
    }

    .burger-menu {
        overflow-x: hidden;
        display: flex;
    }

    .burger-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Main */

.parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr 0.6fr 1fr 0.6fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}
    
.div1{ grid-area: 2 / 1 / 5 / 6; }
.div2{ grid-area: 2 / 2 / 5 / 3; }
.div3{ grid-area: 2 / 4 / 5 / 5; }
.div4{ grid-area: 2 / 3 / 3 / 4; }
.div5{ grid-area: 4 / 3 / 5 / 4; }
.div6{ grid-area: 3 / 3 / 4 / 4; }

.div1, .div2, .div3, .div4, .div5, .div6{
    /* border: 1px solid #ddd; */
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.div2, .div3{
    border: 1px solid #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div5{
    vertical-align: bottom;
}

.tanjiro{
    height: 160px;
    margin-bottom: 50px;
}

.naruto{
    height: 140px;
}

.div5{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligne les <a> en bas */
}

.div5 a{
    padding: 0 2% 0 2%;
    
}

.cover1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 80%; 
    height: auto; 
    pointer-events: none; 
}



.cover2 {
    position: absolute; /* Positionnement absolu pour permettre le centrage */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 100%; 
    height: auto; 
    pointer-events: none; 
}

.mainbanner1, .mainbanner2 {
    height: 100%;
    width: 100%;
    position: relative; 
    z-index: 0; 
    object-fit: cover; 
}

/* Responsive acceuil petit écran */

@media (max-width: 768px){
    .div4, .div5{
        display: none;
    }

    .parent {
        margin-top: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-column-gap: 0;
        grid-row-gap: 20px; /* Ajoute de l'espace entre les divs */
        justify-items: center;
    }

    .div2 {
        grid-area: 1 / 1 / 2 / 2; /* Place la div2 au-dessus */
        width: 85%;
        margin: 0 0 40px 0;
    }

    .div6 {
        grid-area: 2 / 1 / 3 / 2; /* Place la div6 au centre */
        margin: 0 40px 0 40px;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2; /* Place la div3 en dessous */
        width: 85%;
        margin: 40px 0 0 0;
    }
    
    footer{
        margin-top: 100px;
    }
}

/* footer */

footer p{
    color: #fff;
    text-align: center;
    margin: 0 0 1% 0;
}

.social-media{
    text-align: center;
}

.contact{
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.contact a{
    text-decoration: none;
    color: white;
}

.contact p{
    margin-top: 1%;
}

.footer-link{
    text-align: center;
    margin-bottom: 1%;
}

.footer-link a{
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent; /* Bordure transparente au départ */
    margin: 0 15px 0 15px;
    font-size: 1.2rem;
}

.footer-link a:hover{
    color: #fff;
    border-bottom: 1px solid white;
    transition: border-bottom 0.5s ease-in-out;
}

.createby{
    display: flex;
    height: 24px;
    justify-content: center;
    margin-bottom: 1%;
}

.createby img{
    margin-left: 10px;
}

/* responsive */

/* tablette */

@media(min-width: 768px) and (max-width: 1388px){



}